{% extends 'recipe/base.html' %}
{% load static %}


{% block content %}
  <div class="container bg-light min-vh-100">
    <div class="row justify-content-center">
      <div class="row col-md-10">
        <div class="text-center mt-5">
          {% if messages %}
            <h2 class="mb-3">Password changed</h2>
            {% for message in messages %}
              <h4 class="mb-3 alert alert-success">
                {{ message }}
              </h4>
            {% endfor %}
          {% else %}
            <h4 class="mb-3 alert alert-warning">
              In order to change your password, you need to open the password section in your profile.
            </h4>
          {% endif %}
          <h3 class="mb-3">
            Click
            <a class="text-decoration-none" href="{% url 'accounts:profile' user.slug %}">
              here
            </a>
            to return to your profile.
          </h3>
        </div>
      </div>
    </div>
  </div>
{% endblock %}