{% extends 'recipe/base.html' %}
{% load static %}


{% block content %}
  <div class="container bg-light min-vh-100">
    <div class="row justify-content-center">
      <div class="row col-md-10">
        <div class="text-center mt-5">
          {% if messages %}
            <h2 class="mb-3">Password set</h2>
            {% for message in messages %}
              <h4 class="mb-3 alert alert-success">
                {{ message }}
              </h4>
            {% endfor %}
            <h3 class="mb-3">
              <a class="text-decoration-none" href="{% url 'accounts:login' %}">
                Sign In
              </a>
              with a new password.
            </h3>
          {% else %}
            <h4 class="mb-3 alert alert-warning">
              To reset your password go to the Sign In page and click on the "Forgot password" link.
            </h4>
            <h3 class="mb-3">
              Click
              <a class="text-decoration-none" href="{% url 'accounts:login' %}">
                here
              </a>
              to go to the Sign In page.
            </h3>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}