{% extends 'base.html' %}
{% load static %}


{% block content %}
  <div class="container bg-light min-vh-100">
    <div class="row">
        {% if validlink %}
          <div class="container bg-secondary-subtle rounded-4 mt-5 col-md-4 shadow-lg">
            <form action="" method="POST">

              {% csrf_token %}

              <h2 class="text-center mt-2">New password creation</h2>
              <p>Create a new password for your account, it must be different from the old one.</p>
              {% if form.errors %}
                <div class="alert alert-warning" role="alert">
                  {% for field, errors in form.errors.items %}
                      {% for error in errors %}
                        <li>
                          {{ error }}
                        </li>
                      {% endfor %}
                  {% endfor %}
                </div>
              {% endif %}
              <div class="mb-4">
                <label for="{{ form.new_password1.id_for_label }}" class="form-label">New password</label>
                {{ form.new_password1 }}
              </div>
              <div class="mb-4">
                <label for="{{ form.new_password2.id_for_label }}" class="form-label">New password confirmation</label>
                {{ form.new_password2 }}
              </div>
              <div class="text-center mb-3">
                <button type="submit" class="btn btn-outline-success">Reset my password</button>
              </div>
            </form>
          </div>
        {% else %}
          <div class="text-center container col-md-10">
            <h2 class="mt-2">Password reset unsuccessful</h2>
            <h4 class="alert alert-warning">
              The password reset link was invalid, possibly because it has already been used.
              Please request a new password reset.
            </h4>
            <h3 class="mb-3">
              Click
              <a class="text-decoration-none" href="{% url 'accounts:reset_password' %}">
                here
              </a>
              to go to the forgot password page.
            </h3>
          </div>
        {% endif %}
    </div>
  </div>
{% endblock %}