{% extends 'recipe/base.html' %}
{% load static %}


{% block content %}
  <div class="container bg-light min-vh-100">
    <div class="row">
      <div class="container bg-secondary-subtle rounded-4 mt-5 col-md-4 shadow-lg">
        <form action="{% url 'accounts:login' %}" method="POST">

          {% csrf_token %}

          <div class="mb-4">
            <h2 class="text-center mt-2">Sign In</h2>
          </div>
          <div class="mb-4">
            <label for="{{ form.username.id_for_label }}" class="form-label">Username or Email</label>
            {{ form.username }}
          </div>
          <div class="mb-4">
            <label for="{{ form.password.id_for_label }}" class="form-label">Password</label>
            {{ form.password }}
          </div>
          <div class="d-flex">
            <div class="mb-4 form-check me-auto">
              {{ form.remember_me }}
              <label class="form-check-label" for="{{ form.remember_me.id_for_label }}">
                Remember me
              </label>
            </div>
            <div>
              <a href="#" class="link-secondary text-decoration-none">Forgot password</a>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-outline-success">Submit</button>
          </div>
          <div class="text-center mb-3">
            <div>
              <p class="my-0">or</p>
              <a class="link-secondary text-decoration-none" href="{% url 'accounts:registration' %}">
                Sign Up
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}