{% extends 'recipe/base.html' %}
{% load static %}


{% block content %}
    <div class="container bg-light min-vh-100">

        <div class="row">

            <div class="container bg-secondary-subtle rounded-4 mt-5 col-md-4 shadow-lg">

                <form action="" method="POST">

                    <div class="mb-4">
                        <h2 class="text-center mt-2">Sign In</h2>
                    </div>

                    <div class="mb-4">
                        <label for="exampleInputEmail1" class="form-label">Username or Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1"
                               placeholder="Enter Username or Email">
                    </div>

                    <div class="mb-4">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1"
                               placeholder="Enter Password">
                    </div>

                    <div class="d-flex">
                        <div class="mb-4 form-check me-auto">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Remember me</label>
                        </div>
                        <div>
                            <a href="#" class="link-secondary text-decoration-none">Forgot password</a>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-success">Submit</button>
                    </div>

                    <div class="text-center mb-3">
                        <div>
                            <p class="my-0">or</p>
                            <a class="link-secondary text-decoration-none" href="#">Sign Up</a>
                        </div>
                    </div>

                </form>

            </div>

        </div>

    </div>
{% endblock %}