<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/icon/icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand text-white mb-1" href="#">Special Recipe</a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Recipes</a>
                    </li>
                    <li class="nav-item">
                        <div class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="You must be logged in">
                            <a class="nav-link disabled" href="#">Saved Recipes</a>
                        </div>
                    </li>

                </ul>

                <div class="nav-item me-4">
                    <a class="link text-white text-decoration-none" href="#">Sign In</a>
                </div>

                <div class="nav-item">
                    <a class="link text-white text-decoration-none" href="#">Log In</a>
                </div>

                <div class="dropdown">
                    <a class="dropdown-toggle text-decoration-none text-white" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="rounded-circle mb-1" width="26" height="26" src="/static/icon/person.svg"
                             alt="profile">
                        Username
                    </a>
                    <ul class="dropdown-menu bg-dark">
                        <li>
                            <a href="#" class="dropdown-item text-white">Saved Recipes</a>
                        </li>

                        <li>
                            <a href="#" class="dropdown-item text-white">Profile</a>
                        </li>

                        <li><hr class="dropdown-divider bg-dark"></li>
                        <li>
                            <a href="#" class="dropdown-item text-danger">Logout</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>

    <div class="container-fluid bg-white" style="background-image: url('/static/img/index_background.jpg'); background-size: cover; height: 100vh;">

        <div class="row">

            <div class="container bg-secondary-subtle rounded-4 mt-5 col-lg-3 shadow-lg">

                <form action="" method="POST">

                    <div class="mb-4">
                        <h2 class="text-center mt-2">Sign Up</h2>
                    </div>

                    <div class="mb-4">
                        <label for="exampleInputUsername1" class="form-label">Username</label>
                        <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Enter Username">
                    </div>

                    <div class="mb-4">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Email">
                    </div>

                    <div class="mb-4">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
                    </div>

                    <div class="mb-4">
                        <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword2"
                               placeholder="Confirm Password">
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-dark">Submit</button>
                    </div>

                    <div class="text-center mb-3">
                        <div>
                            <p class="my-0">or</p>
                            <a class="link-secondary text-decoration-none" href="#">Sing In</a>
                        </div>
                    </div>

                </form>

            </div>

        </div>

    </div>

    <footer class="bg-dark">
        <div class="container text-center text-white py-4">
            <h3>About</h3>
            <p>
                This website is designed to quickly find recipes, but if you have your own recipe, you can share it by
                posting it on the site.
            </p>
            <hr class="divider border-2">
            <small>Copyright &copy; 2023 Special Recipe</small>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
</body>
</html>