{% extends 'recipe/base.html' %}
{% load static %}


{% block content %}
  <div class="container bg-light min-vh-100">
    <div class="row">
      <div class="container bg-secondary-subtle rounded-4 mt-5 col-lg-5 shadow-lg">
        <form action="" method="POST">

          {% csrf_token %}

          <div class="mb-4">
            <h2 class="text-center mt-2">Sign Up</h2>
          </div>
          {% if form.errors %}
            <div class="alert alert-warning" role="alert">
              {% for field, errors in form.errors.items %}
                  {% for error in errors %}
                    <li>
                      {{ error }}
                    </li>
                  {% endfor %}
              {% endfor %}
            </div>
          {% endif %}
          <div class="mb-4">
            <label for="{{ form.username.id_for_label }}" class="form-label">Username</label>
            {{ form.username }}
          </div>
          <div class="mb-4">
            <label for="{{ form.email.id_for_label }}" class="form-label">Email address</label>
            {{ form.email }}
          </div>
          <div class="mb-4">
            <label for="{{ form.password1.id_for_label }}" class="form-label">Password</label>
            {{ form.password1 }}
            <div id="passwordHelpBlock" class="form-text">
              Your password must be 8-20 characters long, contain letters and numbers,
              and must not contain spaces or special characters.
            </div>
          </div>
          <div class="mb-4">
            <label for="{{ form.password2.id_for_label }}" class="form-label">Confirm Password</label>
            {{ form.password2 }}
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-outline-success">Submit</button>
          </div>
          <div class="text-center mb-3">
            <div>
              <p class="my-0">or</p>
              <a class="link-secondary text-decoration-none" href="{% url 'accounts:login' %}">
                Sign In
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}