{% extends 'recipe/base.html' %}
{% load static %}


{% block content %}
    <div class="container bg-light">
            <div class="row">
                <div class="col-lg-3 mt-2">
                    <h1>Recipes</h1>
                    <form class="d-flex mb-2" role="search">
                        <input class="form-control me-2" type="search" placeholder="Enter recipe name" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Find</button>
                    </form>
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action text-dark bg-dark-subtle disabled" href="#">
                            All Recipes
                        </a>
                        <a class="list-group-item list-group-item-action" href="#">Meat</a>
                        <a class="list-group-item list-group-item-action" href="#">Poultry Meat</a>
                        <a class="list-group-item list-group-item-action" href="#">Fish</a>
                        <a class="list-group-item list-group-item-action" href="#">Seafood</a>
                        <a class="list-group-item list-group-item-action" href="#">Eggs</a>
                    </div>
                </div>
                <div class="col-lg-9 mt-2">

                    <div>
                        <h1>Your Saved Recipes</h1>
                    </div>

                    <div class="row mt-4">
                        <div class="col-lg-4 col-md-6 mb-3">
                            <div class="card h-100">
                                <a href="#">
                                    <img src="{% static 'img/index_carousel_pizza.jpg' %}" class="card-img-top"
                                         alt="recipe_img">
                                </a>
                                <div class="card-body">
                                    <a class="link-dark text-decoration-none" href="#">
                                        <h5 class="card-title">Card title</h5>
                                    </a>
                                    <p class="card-text">
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's content.
                                    </p>
                                    <a type="button" class="link-warning text-decoration-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                                            <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14
                                            15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"></path>
                                        </svg>
                                        1 Saves
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-3">
                            <div class="card h-100">
                                <a href="#">
                                    <img src="{% static 'img/index_carousel_sandwich.jpg' %}" class="card-img-top"
                                         alt="recipe_img">
                                </a>
                                <div class="card-body">
                                    <a class="link-dark text-decoration-none" href="#">
                                        <h5 class="card-title">Card title</h5>
                                    </a>
                                    <p class="card-text">
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's content.
                                    </p>
                                    <a type="button" class="link-warning text-decoration-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8
                                            13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1
                                            1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"></path>
                                        </svg>
                                        0 Saves
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-3">
                            <div class="card h-100">
                                <a href="#">
                                    <img src="{% static 'img/index_carousel_steak.jpg' %}" class="card-img-top"
                                         alt="recipe_img">
                                </a>
                                <div class="card-body">
                                    <a class="link-dark text-decoration-none" href="#">
                                        <h5 class="card-title">Card title</h5>
                                    </a>
                                    <p class="card-text">
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's content.
                                    </p>
                                    <a type="button" class="link-warning text-decoration-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8
                                            13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1
                                            1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"></path>
                                        </svg>
                                        0 Saves
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-3">
                            <div class="card h-100">
                                <a href="#">
                                    <img src="{% static 'img/index_carousel_pizza.jpg' %}" class="card-img-top"
                                         alt="recipe_img">
                                </a>
                                <div class="card-body">
                                    <a class="link-dark text-decoration-none" href="#">
                                        <h5 class="card-title">Card title</h5>
                                    </a>
                                    <p class="card-text">
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's content.
                                    </p>
                                    <a type="button" class="link-warning text-decoration-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8
                                            13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1
                                            1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"></path>
                                        </svg>
                                        0 Saves
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link bg-dark-subtle" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
    </div>
{% endblock %}