{% extends 'recipe/base.html' %}
{% load static %}


{% block content %}
  <div class="container bg-light min-vh-100">
    <div>
      <h1 class="text-center pt-2">Your bookmarks</h1>
    </div>
    <hr>
    <div class="row">
      {% if saved_recipes %}
        {% for recipe in saved_recipes %}
          <div class="col-lg-3 mb-3">
            {% include 'recipe/inclusion/recipe_card/recipe_card_bookmark_active.html' %}
          </div>
        {% endfor %}
      {% else %}
        <h3 class="text-center">
          It looks like you don't have any saved recipes yet.
          You can save a recipe by clicking on the bookmark icon on the recipe card.
        </h3>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="{% static 'js/script.js' %}"></script>
{% endblock %}