{% extends 'recipe/base.html' %}
{% load static %}


{% block content %}
  <div class="container bg-light min-vh-100">
    <div class="row">
      <div class="col-lg-3 my-2">
        <h1>Recipes</h1>
        <form class="d-flex mb-2" action="{% url 'index' %}" role="search" method="get">
          {{ form.search }}
          <button class="btn btn-outline-success" type="submit">Find</button>
        </form>
        <hr>
        <div class="list-group">
          <a class="list-group-item list-group-item-action{% if not selected_category and not request.GET.search %}
                                                            text-dark bg-body-secondary disabled
                                                          {% endif %}"
             href="{% url 'index' %}">
            All Recipes
          </a>
          {% for category in categories %}
            <a class="list-group-item list-group-item-action {% if selected_category == category.slug %}
                                                               text-dark bg-body-secondary disabled
                                                             {% endif %}"
               href="{% url 'recipe:category' category.slug %}">
              {{ category.name }}
            </a>
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-9 my-2">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-pause="hover">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner rounded-2">
            {% for recipe in popular_recipes %}
              <a href="{% url 'recipe:description' recipe.slug %}">
                <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                  <img src="{{ recipe.image.url }}" class="d-block w-100"
                       alt="carousel_first_image">
                  <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-25 rounded-2 p-0 pb-2">
                    <h1 class="text-light">{{ recipe.name }}</h1>
                    <h4 class="text-light">{{ recipe.description }}</h4>
                  </div>
                </div>
              </a>
            {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        {% if recipes %}
          <div class="row mt-4">
            {% for recipe in recipes %}
              <div class="col-lg-4 col-md-6 mb-3">
                {% if recipe in user_saves %}
                  {% include 'recipe/inclusion/recipe_card/recipe_card_bookmark_active.html' %}
                {% else %}
                  {% include 'recipe/inclusion/recipe_card/recipe_card_bookmark_inactive.html' %}
                {% endif %}
              </div>
            {% endfor %}
          </div>
          {% if selected_category %}
            {% include 'recipe/inclusion/category_pagination.html' %}
          {% elif request.GET.search %}
            {% include 'recipe/inclusion/search_pagination.html' %}
          {% else %}
            {% include 'recipe/inclusion/pagination.html' %}
          {% endif %}
        {% else %}
          <div class="text-center my-2">
            <h1>Nothing was found.</h1>
            <hr>
            <h4>
              Looks like we couldn't find what you're looking for.
            </h4>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}