{% extends 'recipe/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}


{% block content %}
  <div class="container bg-light min-vh-100">
    <div class="row">
      <div class="col-lg-8 my-2">
        <div>
          <img class="img-fluid rounded-3" src="{{ recipe.image.url }}" alt="recipe_image">
        </div>
        <div>
          <h1 class="text-truncate">{{ recipe.name }}</h1>
        </div>
        <div>
          {{ recipe.cooking_description|safe }}
        </div>
      </div>
      <div class="col-lg-4 my-2">
        <div class="mb-3">
          <h3>Ingredients</h3>
        </div>
        <hr>
        <div class="mb-3 d-flex">
          <ul>
            {% for ingredient in ingredients %}
              <li>
                <p>{{ ingredient.name }}</p>
                <hr>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <hr>
        <div class="mb-3">
          <h3>{{ comments_count }} Comments</h3>
        </div>
        <div class="d-flex mb-3">
          <img class="me-3 rounded-circle"
               src="{% if user.is_authenticated and user.image %}
                        {{ user.image.url }}
                    {% else %}
                      {% static 'img/default_user_image.png' %}
                    {% endif %}" alt="user-image" width="40" height="40">
          <form id="add-comment-form" method="POST" class="w-100" data-recipe-id="{{ recipe.id }}">

            {% csrf_token %}

            {% if user.is_authenticated %}
              <div class="input-group mb-3">
                {{ form.comment }}
                <button class="btn btn-outline-success" type="submit" id="comment-submit">Comment</button>
              </div>
            {% else %}
              <div class="input-group">
                {{ form.comment|attr:'disabled' }}
                <button class="btn btn-outline-success" type="submit" id="comment-submit" disabled>Comment</button>
              </div>
              <p>
                <a href="{% url 'accounts:login' %}">Sign In</a> or
                <a href="{% url 'accounts:registration' %}">Sign Up</a> to leave comments.
              </p>
            {% endif %}
          </form>
        </div>
        <div id="comments-container">
          {% if comments %}
            {% for comment in comments %}
              <div class="d-flex align-items-start mb-4">
                <a href="{% url 'accounts:profile' comment.author.slug %}">
                  <img class="me-3 rounded-circle" src="{% if comment.author.image %}
                                                      {{ comment.author.image.url }}
                                                    {% else %}
                                                      {% static 'img/default_user_image.png' %}
                                                    {% endif %}" alt="user-image" width="40" height="40">
                </a>
                <div>
                  <a class="fs-5 me-1 link link-dark text-decoration-none"
                     href="{% url 'accounts:profile' comment.author.slug %}">{{ comment.author.username }}</a>
                  <span class="text-body-secondary">{{ comment.created_date|naturaltime }}</span>
                  <p class="text-break">{{ comment.text }}</p>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div id="no-comments" class="text-center mb-5">
              <img class="mb-4" src="{% static 'icon/comment.svg' %}" alt="comment" width="125" height="125">
              <h4>Looks like no one has left a comment yet, be the first!</h4>
            </div>
          {% endif %}
        </div>
        {% if has_more_comments %}
          <div class="mb-4 text-center list-group">
            <button id="show-more-comments-btn" type="button"
                    class="list-group-item list-group-item-action text-primary"
                    data-page="2" data-recipe-id="{{ recipe.id }}">
              Show more
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-caret-down" viewBox="0 0 16 16">
                <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"></path>
              </svg>
            </button>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="{% static 'js/script.js' %}"></script>
{% endblock %}