{% extends 'recipe/base.html' %}
{% load static %}


{% block content %}
    <div class="container bg-light">
            <div class="row">
                <div class="col-lg-3 my-2">
                    <h1>Recipes</h1>
                    <form class="d-flex mb-2" role="search">
                        <input class="form-control me-2" type="search" placeholder="Enter recipe name" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Find</button>
                    </form>
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action {% if not selected_category %}
                        text-dark bg-dark-subtle disabled {% endif %}"
                           href="{% url 'recipe:recipes' %}">
                            All Recipes
                        </a>
                        {% for category in categories %}
                            <a class="list-group-item list-group-item-action {% if selected_category == category.id %}
                            text-dark bg-dark-subtle disabled {% endif %}"
                               href="{% url 'recipe:category' category.id %}">
                                {{ category.name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-9 mt-2">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner rounded-3">
                            <div class="carousel-item active">
                            <img src="{% static 'img/index_carousel_pizza.jpg' %}" class="d-block w-100"
                                 alt="carousel_first_image">
                            </div>
                            <div class="carousel-item">
                            <img src="{% static 'img/index_carousel_sandwich.jpg' %}" class="d-block w-100"
                                 alt="carousel_second_image">
                            </div>
                            <div class="carousel-item">
                            <img src="{% static 'img/index_carousel_steak.jpg' %}" class="d-block w-100"
                                 alt="carousel_third_image">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="row mt-4">
                        {% for recipe in recipes %}
                            <div class="col-lg-4 col-md-6 mb-3">
                                <div class="card h-100">
                                <a href="#">
                                    <img src="{{ recipe.image.url }}" class="card-img-top"
                                         alt="recipe_img">
                                </a>
                                <div class="card-body">
                                    <a class="link-dark text-decoration-none" href="#">
                                        <h5 class="card-title">{{ recipe.name }}</h5>
                                    </a>
                                    <p class="card-text">{{ recipe.description }}</p>
                                    <a type="button" class="link-warning text-decoration-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                                            <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14
                                            15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"></path>
                                        </svg>
                                        1 Saves
                                    </a>
                                </div>
                            </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% include 'recipe/pagination.html' %}
                </div>
            </div>
    </div>
{% endblock %}