{% extends 'recipe/base.html' %}
{% load static %}


{% block content %}
    <div class="container bg-light">
            <div class="row">
                <div class="col-lg-3 my-2">
                    <h1>Recipes</h1>
                    <form class="d-flex mb-2" action="{% url 'recipe:recipes' %}" role="search" method="get">
                        {{ form.search }}
                        <button class="btn btn-outline-success" type="submit">Find</button>
                    </form>
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action {% if not selected_category and not request.GET.search %}
                                                                             text-dark bg-dark-subtle disabled
                                                                         {% endif %}"
                           href="{% url 'recipe:recipes' %}">
                            All Recipes
                        </a>
                        {% for category in categories %}
                            <a class="list-group-item list-group-item-action {% if selected_category == category.id %}
                                                                                 text-dark bg-dark-subtle disabled
                                                                             {% endif %}"
                               href="{% url 'recipe:category' category.id %}">
                                {{ category.name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-9 mt-2">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner rounded-2">
                            {% for recipe in recipes|slice:":3" %}
                                <a href="{% url 'recipe:description' recipe.id %}">
                                    <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                                        <img src="{{ recipe.image.url }}" class="d-block w-100"
                                             alt="carousel_first_image">
                                        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-25 rounded-2 p-0 pb-2">
                                            <h1 class="text-light">{{ recipe.name }}</h1>
                                            <h4 class="text-light">{{ recipe.description }}</h4>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="row mt-4">
                        {% for recipe in recipes %}
                            <div class="col-lg-4 col-md-6 mb-3">
                                <div class="card h-100">
                                <a href="{% url 'recipe:description' recipe.id %}">
                                    <img src="{{ recipe.image.url }}" class="card-img-top"
                                         alt="recipe_img">
                                </a>
                                <div class="card-body">
                                    <a class="link-dark text-decoration-none"
                                       href="{% url 'recipe:description' recipe.id %}">
                                        <h5 class="card-title">{{ recipe.name }}</h5>
                                    </a>
                                    <p class="card-text">{{ recipe.description }}</p>
                                    {% if recipe in user_saves %}
                                        <a type="button" class="link-warning text-decoration-none"
                                           href="{% url 'recipe:remove_from_saved' recipe.id %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                                            <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0
                                            14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z">
                                            </path>
                                        </svg>
                                        {{ recipe.total_saves }} Saves
                                    </a>
                                    {% else %}
                                        <a type="button" class="link-warning text-decoration-none"
                                           href="{% url 'recipe:add_to_saved' recipe.id %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8
                                            13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1
                                            1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z">
                                            </path>
                                        </svg>
                                        {{ recipe.total_saves }} Saves
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% include 'recipe/pagination.html' %}
                </div>
            </div>
    </div>
{% endblock %}