{% extends 'recipe/inclusion/recipe_card/base.html' %}


{% block bookmark %}
  <a type="button" class="link-warning text-decoration-none"
     href="{% url 'recipe:remove-from-saved' recipe.id %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
         class="bi bi-bookmark-fill" viewBox="0 0 16 16">
      <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0
                                          14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z">
      </path>
    </svg>
    {{ recipe.total_saves }} Saves
  </a>
{% endblock %}
